@font-face {  
    font-family: 'Urbanist';  
    src: url('../assets/fonts/urbanist/Urbanist-Regular.ttf') format('truetype');  
    font-weight: 400;
    font-style: normal;  
  }  
  
  @font-face {  
    font-family: 'Urbanist';  
    src: url('../assets/fonts/urbanist/Urbanist-Bold.ttf') format('truetype');  
    font-weight: 600;
    font-style: normal;  
  }